@use "../../styles/mixins" as *;

.home {
    @include view;
    transition: all 0.5s;

    &.disable {
        background-color: #000000a6;
        backdrop-filter: blur(4px);
    }

    &__slider {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 7rem;
        background-color: #383838;
    }

    &__card {
        position: absolute;
        left: 0;
        width: 100%;

        &-content {
            display: flex;
            justify-content: space-between;
        }
    }
}
