@use "../../styles/mixins" as *;

.home {
    @include view;
    transition: all 0.5s;

    &.disable {
        background-color: #000000a6;
        backdrop-filter: blur(4px);
    }

    &__slider {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 7rem;
        background-color: #383838;
    }

    &__card {
        position: absolute;
        left: 0;
        width: 100%;

        &-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @include desktop {
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }

    &__filter-button {
        width: 100%;
        height: 5rem;
        outline: none;
        border: none;
        color: #909090;
        background-color: #383838;
        font-size: 2rem;
        text-align: justify;
        padding: 1.5rem 2rem;
        cursor: pointer;
    }
}
